<div id="<%= dom_id device %>">
  <p>
    <strong>Name:</strong>
    <%= device.name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= device.status %>
  </p>

  <p>
    <strong>Device type:</strong>
    <%= device.device_type %>
  </p>

  <p>
    <strong>Device status:</strong>
    <%= device.device_status %>
  </p>

</div>
