<%= form_with(model: device) do |form| %>
  <% if device.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(device.errors.count, "error") %> prohibited this device from being saved:</h2>

      <ul>
        <% device.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.text_field :status %>
  </div>

  <div>
    <%= form.label :device_type, style: "display: block" %>
    <%= form.text_field :device_type %>
  </div>

  <div>
    <%= form.label :device_status, style: "display: block" %>
    <%= form.text_field :device_status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
